body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #efefef;
  text-shadow: 1px 1px 1px #212625;
}

.app-container {
  display: flex;
  background: url('pokeball.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 3rem;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 0.15rem solid #efefef;
  border-radius: 0.3rem;
  min-width: 160px;
  height: 100%;
  text-align: center;
  box-shadow: 0 3px 10px #212625;
  cursor: grab;
}

.card-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 1rem;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #c6c6c6;
}

.card-container .number p {
  margin-top: 0.7rem;
}

.card-container img.front {
  width: 100px;
  height: 100px;
}

.card-container img.back {
  width: 50px;
  height: 50px;
  margin-top: 2rem;
}

.card-container p {
  text-transform: capitalize;
  font-weight: bold;
  color: #212625;
  text-shadow: 0.5px 0.5px 0.5px #efefef;
}

.card-container p.back-p {
  color: #efefef;
  line-height: 0.7rem;
  text-shadow: 0.5px 0.5px 0.5px #212625;
}

.card-container h3 {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #212625;
  text-shadow: 0.5px 0.5px 0.5px #efefef;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

.load-button {
  background: #212625;
  border-radius: 0.2rem;
  border: 1px solid #fafafa;
  font-weight: bolder;
  color: #fafafa;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
}

.load-button:hover {
  background: #d22600;
  border-radius: 0.2rem;
}

.controls-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

// For Flippy
.flippy-front, .flippy-back {
  padding: 0rem !important;
}
