body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-image: url("http://phpography.com/images/poke-balls-wallpaper-1.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 3rem;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0 ;
  margin: 0.3rem;
  border: 0.15rem solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

h1 {
  color: #c6c6c6;
}

h3 {
  margin-bottom: 0.2rem;
  text-transform: capitalize;
  color: #282828;
}

.card-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.5rem;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #c6c6c6;
}

.card-container .number p {
  margin-top: 0.7rem;
}

.card-container img {
  width: 100px;
  height: 100px;
}

.card-container p {
  text-transform: capitalize;
  color: #282828;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

.load-more {
  background: #434d4a;
  border-radius: 0.2rem;
  border: 2px solid #fafafa;
  font-weight: bolder;
  color: #fafafa;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
}

.load-more:hover {
  background: #f04138;
  border-radius: 0.2rem;
}

