body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Text and border colors
$dark-grey: #212625;
$light-grey: #efefef;

h1 {
  color: $light-grey;
  text-shadow: 1px 1px 1px $dark-grey;
}

h3 {
  color: #212625;
  text-shadow: 0.2px 0.2px 0.2px $light-grey;
}

input {
  width: 350px;
  padding: 1rem 1rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.2rem;
}

.app-container {
  display: flex;
  background: url('pokeball.png');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 3rem;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  border: 0.15rem solid $light-grey;
  border-radius: 0.3rem;
  min-width: 140px;
  text-align: center;
  box-shadow: 0 3px 10px $dark-grey;
  cursor: grab;
}

.card-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  margin-bottom: 1rem;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #c6c6c6;
}

.card-container .number p {
  margin-top: 0.7rem;
}

.card-container img.front {
  width: 100px;
  height: 100px;
}

.card-container img.back {
  width: 43px;
  height: 43px;
  margin-top: 2rem;
}

.card-container p {
  text-transform: capitalize;
  font-weight: bold;
  color: #212625;
  text-shadow: 0.5px 0.5px 0.5px $light-grey;
}

.card-container p.back-p {
  color: #efefef;
  line-height: 0.7rem;
  text-shadow: 0.5px 0.5px 0.5px $dark-grey;
}

.card-container h3 {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #212625;
  text-shadow: 0.5px 0.5px 0.5px $light-grey;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: .5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}

// Controls
.controls-container {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.load-button {
  background: $dark-grey;
  border-radius: 0.2rem;
  border: 1px solid $light-grey;
  font-weight: bolder;
  width: 40%;
  color: $light-grey;
  padding: 0.5rem 1.5rem;
  min-width: 20%;
  margin-top: 1rem;
}

.load-button:hover {
  background: #d22600;
  border-radius: 0.2rem;
}

// For Flippy
.flippy-front, .flippy-back {
  padding: 0.5rem !important;
  box-shadow: none !important;
}

// Responsive
@media (max-width: 768px) {
  .card-container {
    min-width: 140px;
  }
  .controls-container {
  display: flex;
  width: 100%;
  }
  .load-button {
  width: 100px;
  padding: 0.6rem 0.6rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
}
