.rock {
  background-color: #B67162;
}

.ghost {
  background-color: #F9F6F7;
}

.ice {
  background-color: #b2f2ec;
}

.electric {
  background-color: #E8E9A1;
}

.bug {
  background-color: #F6D6A7;
}

.poison {
  background-color: #e0a7f6;
}

.normal {
  background-color: #DFEEEA;
}

.fairy {
  background-color: #ffc0cb;
}

.psychic {
  background-color: #F25287;
}

.fire {
  background-color: #FF884B;
}

.grass {
  background-color:#678A74;
}

.water {
  background-color:#84cff7;
}

.ground {
  background-color:#e08b3e;
}

.fighting {
  background-color: #ff726f;
}

.dark {
  background-color: #787A91;
}

.dragon {
  background-color: #962D2D;
}

.back {
  background-color: #212625;
}
