.rock {
  background-color: rgb(148, 81, 81);
}

.ghost {
  background-color: rgb(247, 247, 247);
}

.ice {
  background-color: #b2f2ec;
}

.electric {
  background-color: rgb(255, 255, 161);
}

.bug {
  background-color: #F6D6A7;
}

.poison {
  background-color: #e0a7f6;
}

.normal {
  background-color: #eaeaea;
}

.fairy {
  background-color: rgb(255, 192, 203);
}

.psychic{
  background-color: #a700a7;
}

.fire {
  background-color: #FBE3DF;
}

.grass {
  background-color:#ccffdd;
}

.water {
  background-color:#84cff7;
}

.ground {
  background-color:#e08b3e;
}

.fighting {
  background-color: #ff726f;
}

.dark {
  background-color: #bbbbbb;
}

.dragon{
  background-color: #c30200;
}
