.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.ice{
  background-color: #b2f2ec;
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #F6D6A7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.psychic{
  background-color: #a700a7;
}
.fire {
  background-color: #FBE3DF;
}
.grass {
  background-color:#E2F9E1;
}
.water {
  background-color:#E0F1FD;
}
.ground {
  background-color:#e08b3e;
}
.fighting {
  background-color: #ff726f;
}
.dark {
  background-color: #bbbbbb;
}
.dragon{
  background-color: #c30200;
}
